[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/VictoriaVesselinova
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/VictoriaVesselinova
	label-Verified = -1..+1 group user/VictoriaVesselinova
	push = group user/VictoriaVesselinova
	read = group user/VictoriaVesselinova
	rebase = group user/VictoriaVesselinova
	removeReviewer = group user/VictoriaVesselinova
	submit = group user/VictoriaVesselinova
[access "refs/heads/*"]
	create = group user/VictoriaVesselinova
	push = +force group user/VictoriaVesselinova
	pushMerge = group user/VictoriaVesselinova
	read = group user/VictoriaVesselinova
[access "refs/tags/*"]
	push = group user/VictoriaVesselinova
	push = +force group user/VictoriaVesselinova
